.cbtse_tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
  position: sticky;
  top: 40px;
  z-index: 99;
  background-color: #666;
  padding: 30px;
}
button.cbtse_tab-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color:#3a1952;
  color: #fff;
  border: none;
}
.cbtse_slideup-contents {
  position: relative;
}

#cbtse_slideup-content-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}
.cbtse_container {
  padding: 0 15px;
  margin: 0 auto;
}
.cbtse_slideup-content:not(:first-child) {
  position: absolute;
  top: 0;
}
.cbtse_slideup-content {
  background-color: antiquewhite;
}
.cbtse_slideup-content:nth-child(2) {
  background-color: aqua;
}
.cbtse_slideup-content:nth-child(3) {
  background-color: rgb(255, 36, 149);
}
.cbtse_slideup-content:nth-child(4) {
  background-color: rgb(255, 169, 40);
}

.cbtse-gostan-scrolling-effect-menu-area ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  width: 100%;
  position: sticky;
  margin-bottom: 50px;
  margin-top: 50px;
}

.cbtse-gostan-scrolling-effect-area {
  position: relative;
}

.cbtse-gostan-scrolling-effect-menu-area ul li a {
  background-color: darkgrey;
  display: block;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}
.cbtse-gostan-scrolling-effect-contents-area * {
  color: #fff;
}

.cbtse-gostan-scrolling-effect-contents-area {
  position: relative;
  overflow-y: scroll; /* Use scroll to enable scrolling without showing scrollbar */
  height: calc(100vh - 50px);
  padding-bottom: 100px; /* Initial padding */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.cbtse-gostan-scrolling-effect-contents-area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cbtse-gostan-scrolling-effect-contents-area {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cbtse-gostan-scrolling-e-single-content-area {
  background-color: #fece32;
  padding: 30px;
  border-radius: 50px;
  margin-bottom: 50px;
  position: relative;
  transition: z-index 0.3s ease;
  z-index: 1;
}

.cbtse-gostan-scrolling-e-single-content-area:nth-child(2) {
  background-color: #feaf77;
}
.cbtse-gostan-scrolling-e-single-content-area:nth-child(3) {
  background-color: #92abfc;
}
.cbtse-gostan-scrolling-e-single-content-area:nth-child(4) {
  background-color: #ba80e6;
}
.cbtse-gostan-scrolling-e-single-content-area:nth-child(5) {
  background-color: #3a1952;
}

.cbtse-gostan-position-fixed {
  position: sticky;
}


.cbtse_tab-button.active {
  background-color: green;
  color:#fff;
}